QuadFC/out
QuadGS/out/
QuadGS/build/
QuadGS/make/
LogFile.txt
Mapfile.txt
/*.d
/*.o
/*.elf
/*.bin
__pycache__/
*.cproject
*.project
*.settings
*.vscode
*.venv
*.pydevproject
desktop.ini
*.gdb_history
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

